* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url(./images/bg.jpeg);
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
